recursive-include *.md
recursive-include *.txt
recursive-include napari_language_pack_{{ cookiecutter.locale_underscore }} *.json
recursive-include napari_language_pack_{{ cookiecutter.locale_underscore }} *.mo
