[bumpversion]
current_version = 0.0.1-dev0
commit = True
message = Bump es-ES version: {current_version} → {new_version}
tag = False
tag_name = es-ES@v{new_version}
parse = (?P<major>\d+)\.(?P<minor>\d+)\.(?P<patch>\d+)(\-(?P<release>[a-z]+)(?P<build>\d+))?
serialize = 
	{major}.{minor}.{patch}-{release}{build}
	{major}.{minor}.{patch}

[bumpversion:part:release]
optional_value = prod
first_value = dev
values = 
	dev
	prod

[bumpversion:part:build]

[bumpversion:file:napari_language_pack_es_ES/__init__.py]

[hash]
value =

